<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="loading-container">
        <div class="details-container">
            <div class="logo-container">
                <img src="img/logggar-white-logo.svg" alt="Logggar-logo">
            </div>
            <div class="loading-text-container">
                <div class="loading">Loading</div>
            </div>
            <div class="info-content">
                Team: Naveen Ashok, Dinesh S, Haripriya Mohan, Sathishkumar Karuppusamy
            </div>
            <div class="copy-rights-container">
                <div class="copy-rights-text">
                    © Copyright 2020 Logggar. All Rights Reserved.
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="img/loading-page-background.png" alt="Page-background">
        </div>
    </div>
    <style>
        html{
            height: 100%;
            width: 100%;
        }

        body{
            height: 100%;
            width: 100%;
            margin: unset;
            font-family:'Poppins', sans-serif;
        }

        .loading-container{
            height: 100%;
            display: flex;
        }

        .details-container{
            background: #151046;
            width: 40%;
            height: 100%;
            position: relative;
        }

        .image-container{
            height: 100%;
            width: 60%;
            background: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo-container{
            padding: 52px 28px;
            font-size: 20px;
            line-height: 1.2;
        }

        .loading{
            color: #D2CEFF;
            font-size: 20px;
            line-height: 1.2;
            padding: 28px;
            font-weight: 700;
            letter-spacing: 0.8px;
        }

        .loading:after {
            content: ' .';
            animation: dots 1s steps(5, end) infinite;
            color: #D2CEFF;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
        }

        @keyframes dots {
            0%, 20% {
                color: rgba(0,0,0,0);
                text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
            40% {
                color: white;
                text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
            60% {
                text-shadow:
                .25em 0 0 white,
                .5em 0 0 rgba(0,0,0,0);}
            80%, 100% {
                text-shadow:
                .25em 0 0 white,
                .5em 0 0 white;
            }
        }

        .info-content{
            color: #D2CEFF;
            opacity: 1;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            padding: 28px;
        }

        .copy-rights-container{
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 28px;
            box-sizing: border-box;
        }

        .copy-rights-text{
            width: 150px;
            color: #8E89C4;
            font-size: 11px;
            line-height: 17px;
            letter-spacing: 0.44px;
            text-align: center;
        }

    </style>
  </body>
</html>
