<template>
  <div class="sign-in">
    <div class="sign-in-logo-container">
        <img src="img/logggar-multicolor-logo.svg" alt="Logggar-multicolor-logo" />
    </div>
    <div class="sign-in-content-contianer">
      <div class="sign-in-content">
        <v-container>
          <v-row>    
            <v-col
              cols="12"
              md="6"
            >
              <div class="image-container">
                <img src="img/loading-page-background.png" alt="loading-page-background">
              </div>
            </v-col>  
            <v-col
              cols="12"
              md="6"
            >
              <div class="info-container">
                <v-form v-model="valid">
                  <v-container>
                    <v-row justify="center">
                      <v-col
                        cols="12"
                        md="8"
                        class="flex-content"
                      >              
                        <v-text-field
                          v-model="email"
                          :rules="emailRules"
                          outlined
                          label="Email ID"
                          required
                          class="rounded-pill"
                          height="46px"
                        >
                        </v-text-field>
                      </v-col>
                    </v-row>
                    <v-row justify="center">
                      <v-col
                        cols="12"
                        md="8"
                        class="flex-content"
                      >              
                        <v-text-field
                          v-model="password"
                          :rules="passwordRules"
                          outlined
                          label="Password"
                          required
                          class="rounded-pill"
                          height="46px"
                        >
                        </v-text-field>
                      </v-col>
                    </v-row>
                    <v-row justify="center">
                      <v-col
                        cols="12"
                        md="8"
                        class="flex-content"
                      >
                        <div class="button-container">                         
                          <v-btn
                            depressed
                            color="primary"
                            class="rounded-pill"
                          >
                            <span class="login-btn-text">Login</span>
                          </v-btn>
                          <div class="forgot-password">
                            Forgot Password
                          </div>
                        </div>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </div>
    <div class="copy-rights-container">
      © Copyright 2020 Logggar. All Rights Reserved.
    </div>
  </div>
</template>

<script>
export default {
  name: "SignIn",
  components: {},
    data: () => ({
      valid: false,
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
        v => v.length <= 10 || 'Password must be less than 10 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
    })
};
</script>

<style lang="scss">
  .sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .sign-in-logo-container{
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
  }

  .sign-in-content-contianer{
    width: 100%;
    height: 100%;
  }

  .sign-in-content{
    height: 100%;
    padding: 140px 0px 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-content{
    display: flex;
    justify-content: center;
  }

  .button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .login-btn-text{
    font-weight: 400 !important;
    font-size: 14px;
    padding: 0px 20px;
  }

  .forgot-password{
    font-size: 14px;
    color: #2C2C2C;
    cursor: pointer;
  }

  .copy-rights-container{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #8E89C4;
    font-size: 11px;
  }

   .v-text-field .v-input__control .v-input__slot {
    min-height: auto !important;
    display: flex !important;
    align-items: center !important;
  }

  .v-text-field--outlined .v-label {
    top: 8px !important;
  }
</style>
