<template>
  <div class="hello">
    <div style="position: relative" class="margin">
      <video
        v-on:onloadedmetadata="onPlay(this)"
        id="inputVideo"
        autoplay
        muted
        playsinline
      ></video>
      <div class="canvas-container">
        <canvas id="overlay" />
      </div>
    </div>
  </div>
</template>

<script>
import * as faceapi from "face-api.js";
// import path from 'path';

const SSD_MOBILENETV1 = "ssd_mobilenetv1";
const TINY_FACE_DETECTOR = "tiny_face_detector";
let forwardTimes = [];
let selectedFaceDetector = SSD_MOBILENETV1;
let minConfidence = 0.5;
let inputSize = 512;
let scoreThreshold = 0.5;
let localStream;
let videoEl;

var vm = {
  name: "HelloWorld",
  props: {
    msg: String
  },
  created: function() {
    // this.onInit();
    this.init();
  },
  mounted() {
    console.log("component mounted");
    vm.methods.onPlay();
    videoEl = document.getElementById("inputVideo");
    console.log("videoEl", videoEl);
    videoEl.addEventListener("onloadedmetadata", function() {
      console.log("event triggered");
      vm.methods.onPlay();
    });
  },
  destroyed() {
    console.log("component destroyed");
    console.log("videoEl", videoEl);
    videoEl.pause();
    videoEl.srcObject = null;
    localStream.getTracks().forEach(function(track) {
      track.stop();
    });
  },
  methods: {
    init: async function() {
      try {
        console.log("inside init");
        // const pathToAsset = path.join(__static, '/models')
        const MODEL_URL = "/models";
        if (faceapi) {
          await faceapi.loadSsdMobilenetv1Model(MODEL_URL);
          await faceapi.loadFaceLandmarkModel(MODEL_URL);
          await faceapi.loadFaceRecognitionModel(MODEL_URL);
          await faceapi.loadMtcnnModel(MODEL_URL);
          await faceapi.loadFaceRecognitionModel(MODEL_URL);

          videoEl = document.getElementById("inputVideo");
          navigator.getUserMedia(
            { video: {} },
            stream => {
              videoEl.srcObject = stream;
              localStream = stream;
            },
            err => console.error(err)
          );
          console.log("Models loaded successfully");
        } else {
          console.log("Failed loading models");
        }
      } catch (e) {
        console.log("Error in init", e);
      }
    },
    updateTimeStats: function(timeInMs) {
      forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30);
      const avgTimeInMs =
        forwardTimes.reduce((total, t) => total + t) / forwardTimes.length;
      let time = document.getElementById("time");
      let fps = document.getElementById("fps");
      if (time && fps) {
        document.getElementById("time").val(`${Math.round(avgTimeInMs)} ms`);
        document
          .getElementById("fps")
          .val(`${faceapi.utils.round(1000 / avgTimeInMs)}`);
      }
    },
    getCurrentFaceDetectionNet: function() {
      if (selectedFaceDetector === SSD_MOBILENETV1) {
        return faceapi.nets.ssdMobilenetv1;
      }
      if (selectedFaceDetector === TINY_FACE_DETECTOR) {
        return faceapi.nets.tinyFaceDetector;
      }
    },
    getFaceDetectorOptions: function() {
      return selectedFaceDetector === SSD_MOBILENETV1
        ? new faceapi.SsdMobilenetv1Options({ minConfidence })
        : new faceapi.TinyFaceDetectorOptions({ inputSize, scoreThreshold });
    },
    isFaceDetectionModelLoaded: function() {
      return !!this.getCurrentFaceDetectionNet().params;
    },
    onPlay: async function() {
      console.log("On play is called");
      // const videoEl = document.getElementById("inputVideo");
      if (videoEl.paused || videoEl.ended || !this.isFaceDetectionModelLoaded())
        return setTimeout(() => vm.methods.onPlay());
      const options = this.getFaceDetectorOptions();
      const ts = Date.now();
      const result = await faceapi.detectSingleFace(videoEl, options);
      this.updateTimeStats(Date.now() - ts);
      if (result) {
        const canvas = document.getElementById("overlay");
        const dims = faceapi.matchDimensions(canvas, videoEl, true);
        faceapi.draw.drawDetections(
          canvas,
          faceapi.resizeResults(result, dims)
        );
      }
      setTimeout(function() {
        vm.methods.onPlay();
      }, 0);
    },
    updateResults: function() {}
  }
};
export default vm;
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.canvas-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#overlay {
}
</style>
