<template>
  <v-app>
    <v-system-bar v-if="!isLoading" height="30">
      <v-spacer></v-spacer>
      <v-icon v-on:click="minimizeApp">mdi-minus</v-icon>
      <v-icon v-on:click="closeApp">mdi-close</v-icon>
    </v-system-bar>
    <!-- <v-app-bar
      class="app-bar-margin"
      v-if="!isLoading"
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

    </v-app-bar> -->

    <v-main>
      <!-- <div v-if="!isLoading" id="nav">
        <router-link to="/"><span class="link-text">SignIn</span></router-link>
        <router-link to="/about"><span class="link-text">Face Recognition</span></router-link>
      </div> -->
      <ApplicationLoader v-if="isLoading"></ApplicationLoader>
      <router-view v-if="!isLoading" />
    </v-main>
  </v-app>
</template>

<script>
import ApplicationLoader from "./components/ApplicationLoader";
import { remote } from "electron";
export default {
  name: "App",

  components: {
    ApplicationLoader
  },

  data: () => ({
    isLoading: true
  }),
  mounted() {
    setTimeout(() => {
      this.isLoading = false;
      this.maximizeApp();
    }, 3000);
  },
  methods: {
    closeApp: () => {
      try{
        console.log("close icon is clicked");
        let appWindow = remote.getCurrentWindow();
        appWindow.close();
      } catch(e) {
        console.log("error", e);
      }
    },
    minimizeApp: () => {
      remote.BrowserWindow.getFocusedWindow().minimize();
    },
    maximizeApp: () => {
      remote.BrowserWindow.getFocusedWindow().maximize();
    }
  }
};
</script>

<style lang="scss">

body {
  font-family:'Poppins', sans-serif;
}

.link-text {
  color: #ffffff;
  padding: 8px;
  font-weight: 700;
  text-decoration: unset;
}

.link-text:hover {
  background: #ffffff;
  color: #1976d2;
  font-weight: 700;
  text-decoration: unset;
}

.app-bar-margin {
  margin-top: 30px !important;
}

// .v-main-override {
//   padding: 86px 0px 0px !important;
// }

.theme--light.v-system-bar {
  background-color: #151046 !important;
}

.theme--light.v-system-bar .v-icon {
  color: #FFFFFF !important;
}
</style>
